* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #121212; /* Dark background color for a sleek look */
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    color: white;
}
header {
    width: 100%;
    background-color: #1f1f1f;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border-radius: 10px;
}
.heart, .skeleton, .muscle, .brain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2a2a2a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 90%; /* Set width to 90% to avoid stretching on wider screens */
    margin: 20px auto; /* Center the sections */
}
.left {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    flex: 2; /* Give more space to the model */
    padding: 10px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
iframe {
    border-radius: 8px;
    width: 100%;
    height: 500px; /* Increased the height to emphasize the models */
}
.upCover, .downCover {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #121212;
}
.upCover {
    top: 0;
    height: 15%;
}
.downCover {
    top: 80%;
    height: 20%;
}
.right {
    color: white;
    background-color: #444;
    flex: 1; /* Less space for the text, models should be the main focus */
    padding: 20px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    color: #ccc;
    margin-top: 10px;
}
footer {
    width: 100%;
    text-align: center;
    color: #aaa;
    background-color: #1f1f1f;
    padding: 10px;
    font-size: 0.9rem;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer p {
    margin: 0;
}
